<% if @article.errors.any? %>
  <h2>Les erreurs suivantes ont empêché l'article la sauvegarde de l'article :</h2>
  <ul>
    <% @article.errors.full_messages.each do |msg|%>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @article do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :category %><br>
    <%= f.text_field :category %>
  </p>
  <p>
    <%= f.label :reading_time %><br>
    <%= f.text_field :reading_time %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
