<h1>Voici l'article selectionné :</h1>

<p>
 Titre: <%= @article.title %>
</p>

<p>
 Description: <%= @article.description %>
</p>

<p>
 Temps de lecture: <%= @article.reading_time %>
</p>

<p>
  <%= link_to "Edit", edit_article_path(@article) %>
</p>

<p>
  <%= link_to 'Back', articles_path %>
</p>
